    <!-- jQuery 3 -->
    <script src="/dist/js/sm_jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/dist/js/sm_bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="/dist/js/sm_jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/dist/js/sm_fastclick.js"></script>
    <!-- Sproft Mailer App -->
    <script src="/dist/js/sproft-mailer.js"></script>
    <!-- iCheck -->
    <script src="/dist/js/sm_icheck.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="/dist/js/sm_bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Page Script -->
    <script>
        $(function() {
            //Add text editor
            $("#compose-textarea").wysihtml5();
        });
    </script>
</body>
</html>