<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Your Partner In Online Success - Sproft Media</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/sproft_logo_favicon.png" type="image/x-icon">
    <link rel="icon" href="images/sproft_logo_favicon.png" type="image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="images/sproft_logo.png" alt="Homepage">
            </a>
        </div>
        <!-- end header-logo -->

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>Sproft Media</h3>

                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll" href="#home" title="home">Home</a></li>
                    <li><a class="smoothscroll" href="#about" title="about">About</a></li>
                    <li><a class="smoothscroll" href="#services" title="services">Services</a></li>
                    <li><a class="smoothscroll" href="#works" title="works">Works</a></li>
                    <li><a class="smoothscroll" href="#contact" title="contact">Contact</a></li>
                </ul>

                <p>Meet your partner in online success!</p>

                <ul class="header-nav__social">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-dribbble"></i></a>
                    </li>
                </ul>

            </div>
            <!-- end header-nav__content -->

        </nav>
        <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-icon"></span>
        </a>

    </header>
    <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/hero-bg.jpeg" data-natural-width=3000 data-natural-height=2000 data-position-y=top>

        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">
                <h1>
                    Enterprise solutions <br>for small businesses.
                </h1>

                <p>
                    Meet your partnet in online success.
                </p>

                <p>
                    We create stunning digital products and experiences that drive your bottom line.
                </p>
            </div>
            <!-- end home-content__main -->

        </div>
        <!-- end home-content -->

        <ul class="home-sidelinks">
            <li><a class="smoothscroll" href="#about">About<span>who we are</span></a></li>
            <li><a class="smoothscroll" href="#services">Services<span>what we do</span></a></li>
            <li><a class="smoothscroll" href="#contact">Contact<span>work with us</span></a></li>
        </ul>
        <!-- end home-sidelinks -->

        <ul class="home-social">
            <li class="home-social-title">Follow Us</li>
            <li>
                <a href="#0">
                    <i class="fab fa-facebook"></i>
                    <span class="home-social-text">Facebook</span>
                </a>
            </li>
            <li>
                <a href="#0">
                    <i class="fab fa-twitter"></i>
                    <span class="home-social-text">Twitter</span>
                </a>
            </li>
            <li>
                <a href="#0">
                    <i class="fab fa-linkedin"></i>
                    <span class="home-social-text">LinkedIn</span>
                </a>
            </li>
        </ul>
        <!-- end home-social -->

        <a href="#about" class="home-scroll smoothscroll">
            <span class="home-scroll__text">Scroll Down</span>
            <span class="home-scroll__icon"></span>
        </a>
        <!-- end home-scroll -->

    </section>
    <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Who We Are</h3>
                <h1 class="display-1">Sproft Media is a team of data-driven enthusiasts. We use data to open ourselves up to new thinking and big ideas.</h1>
            </div>
        </div>
        <!-- end section-header -->

        <div class="row" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
                    We employ technology and data-driven insights to enable ideas while delivering creative and purposeful work that allow your customers make strong emotional connections with your brand. We’re part of the digitally-fluent force that’s improving economies,
                    shifting industries, and elevating businesses just like yours.
                </p>
            </div>
        </div>
        <!-- end about-desc -->

        <div class="row">

            <div class="about-process process block-1-2 block-tab-full">

                <div class="process__vline-left"></div>
                <div class="process__vline-right"></div>

                <div class="col-block process__col" data-item="1" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Connect</h4>

                        <p>
                            Do you know who your buyers are? We do! We have all the data and will connect you with your buyers on every digital channel. We specialize in defining, managing, and executing your online marketing strategies.
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="2" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Engage</h4>

                        <p>
                            We create engaging digital experiences for your target customers and drive the right traffic to your business for more conversions and revenue.
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="3" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Convert</h4>

                        <p>
                            We help you create sales and marketing funnels through strategic media planning that not only focuses on reaching the right audience but engages them when they're most likely to respond - turning more leads into customers.
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="4" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Innovate</h4>

                        <p>
                            Lets face it! In a fast-paced and increasingly complex digital landscape, you innovate or get left behind. At Sproft Media, we cut through the noise and help your business find clarity by connecting the dots with data and technology.
                        </p>
                    </div>
                </div>

            </div>
            <!-- end process -->

        </div>
        <!-- end about-stats -->

    </section>
    <!-- end s-about -->


    <!-- services
    ================================================== -->
    <section id='services' class="s-services light-gray">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">What We Do</h3>
                <h1 class="display-1">As partners in growing your business, every solution we bring to the table is backed by meaningful strategy.</h1>
            </div>
        </div>
        <!-- end section-header -->

        <div class="row" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
                    We stay on top of our industry by being experts in yours. We help answer the questions that in the beginning, you didn't think to ask.
                </p>
            </div>
        </div>
        <!-- end about-desc -->

        <div class="row services-list block-1-3 block-m-1-2 block-tab-full">

            <div class="col-block service-item " data-aos="fade-up">
                <div class="service-icon service-icon--brand-identity">
                    <i class="icon-question"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Strategy</h3>
                    <p>Harnessing the power of data and asking the tough questions about your organization, we create actionable insights that focuses on the customer. We design your customers journey, optimizing every touch point for convenience and delight.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon  service-icon--illustration">
                    <i class="icon-group"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Design</h3>
                    <p>With user expectations at an all-time high, your company needs a digital experience that is intuitive, beautiful, and optimized across web, tablet and mobile devices. We believe that great design not only inspires attention, it retains
                        it.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon  service-icon--web-design">
                    <i class="icon-earth"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Web Development</h3>
                    <p>We turn your ideas into beautiful and intuitive digital products and applications through creative engineering. We offer innovative, high quality and cost-effective solutions on multiple platforms at any scale.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon service-icon--product-strategy">
                    <i class="icon-users"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Digital Marketing</h3>
                    <p>From paid search to display advertising, we create online campaigns that reach your target audience where they frequently are. We work with your stakeholders to ensure that your branding and message resonates with your target audience
                        while also conveying and advancing your business objectives.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon  service-icon--ui-design">
                    <i class="icon-window"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Mobile Development</h3>
                    <p>From conceptualization to building, delivery, and maintenance for all platforms including Apple, Android, Blackberry and windows mobile apps – Sproft Media has the smarter solution. Our Mobile Apps are created for a seamless user experience,
                        and our brilliant team of Technology experts are continually exploring new and innovative applications to keep your platform on the cusp of the latest in technology.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon service-icon--mobile-dev">
                    <i class="icon-shopping-cart"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">E-Commerce</h3>
                    <p>We help e-commerce merchants grow and scale their business everyday. We strategize and implement solutions across leading e-commerce and m-commerce platforms and fabricate a whole new framework for your e-commerce store compliant with
                        today's business standards for better efficiency, conversions and cost-savings.
                    </p>
                </div>
            </div>

        </div>
        <!-- end services-list -->

    </section>
    <!-- end s-services -->


    <!-- works
    ================================================== -->
    <section id='works' class="s-works">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Featured Clients</h3>
                <h1 class="display-1">We're trusted by world-class companies. We seek to create long-term relationships with our clients that are driven by results.</h1>
            </div>
        </div>
        <!-- end section-header -->

        <!--Start Clients Roll-->
        <div class="customer-logos" data-aos="fade-up">
            <div class="slide"><img src="images/client-logos/img1.svg"></div>
            <div class="slide"><img src="images/client-logos/img2.svg"></div>
            <div class="slide"><img src="images/client-logos/img3.svg"></div>
            <div class="slide"><img src="images/client-logos/img4.svg"></div>
            <div class="slide"><img src="images/client-logos/img5.svg"></div>
            <div class="slide"><img src="images/client-logos/img6.svg"></div>
            <div class="slide"><img src="images/client-logos/img7.svg"></div>
        </div>
        <!--End Clients Roll-->


        <div class="testimonials-wrap" data-aos="fade-up">

            <div class="row">
                <div class="col-full testimonials-header">
                    <h2 class="h1">What Clients Are Saying.</h2>
                </div>
            </div>

            <div class="row testimonials">

                <div class="col-full testimonials__slider">

                    <div class="testimonials__slide">
                        <p>Sproft navigates tight deadlines, delays, split-second decisions, shakeups and whatever else might happen in-between, to deliver a stunning final product.</p>
                        <div class="testimonials__author">
                            Gerald B.
                            <span>Benjamin Moore & Co.</span>
                        </div>
                    </div>
                    <!-- end testimonials__slide -->

                    <div class="testimonials__slide">
                        <p>We spoke to a lot of different firms before deciding to go with Sproft Media. We thought they understood the user flow we wanted for our application and really got what we were trying to do.</p>
                        <div class="testimonials__author">
                            Corrales J.
                            <span>Boston Pizza Canada</span>
                        </div>
                    </div>
                    <!-- end testimonials__slide -->

                    <div class="testimonials__slide">
                        <p>The entire team is dedicated to helping us achieve our common goal. That quality was one of the reasons we enjoyed working with them.</p>
                        <div class="testimonials__author">
                            Robbin E.
                            <span>Rexall Drugstore</span>
                        </div>
                    </div>
                    <!-- end testimonials__slide -->

                </div>
                <!-- end testimonials__slider -->

            </div>
            <!-- end testimonials -->

        </div>
        <!-- end testimonials-wrap -->

    </section>
    <!-- end s-works -->


    <!-- stats
    ================================================== -->
    <section id="stats" class="s-stats">

        <div class="row stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">

            <div class="col-block stats__col ">
                <div class="stats__count">5</div>
                <h5>Team Members</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">1507</div>
                <h5>Cups of Coffee</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">108</div>
                <h5>Projects Completed</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">67</div>
                <h5>Happy Clients</h5>
            </div>

        </div>
        <!-- end stats -->

    </section>
    <!-- end s-stats -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--light">Contact Us</h3>
                <h1 class="display-1 display-1--light">Get in touch and let's make something great together. Let's turn your digital presence into a money-making machine.</h1>
            </div>
        </div>
        <!-- end section-header -->

        <div class="row">
            <div class="col-full contact-main" data-aos="fade-up">
                <p>
                    <a href="mailto:#0" class="contact-email">hello@sproft.com</a>
                    <span class="contact-number">+1 (800) 690 0261  /  +1 (929) 336 4460</span>
                </p>
            </div>
        </div>
        <!-- end contact-main -->

        </div>
        <!-- end row -->

        <div class="row">

            <div class="col-five tab-full contact-secondary" data-aos="fade-up">
                <h3 class="subhead subhead--light">Where To Find Us</h3>

                <p class="contact-address">
                    Oxford Tower <br> 10025 102A Ave. NW<br> Edmonton, AB<br> T5J 2Z2 CA
                </p>
            </div>
            <!-- end contact-secondary -->

            <div class="col-five tab-full contact-secondary" data-aos="fade-up">
                <h3 class="subhead subhead--light">Follow Us</h3>

                <ul class="contact-social">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-dribbble"></i></a>
                    </li>
                </ul>
                <!-- end contact-social -->

                <div class="contact-subscribe">
                    <form id="mc-form" class="group mc-form" novalidate="true">
                        <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                        <input type="submit" name="subscribe" value="Subscribe">
                        <label for="mc-email" class="subscribe-message"></label>
                    </form>
                </div>
                <!-- end contact-subscribe -->
            </div>
            <!-- end contact-secondary -->

        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-full cl-copyright">
                <span>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://sproft.com" target="_blank">Sproft Media LLC.</a>
</span>
            </div>
        </div>

        <div class="cl-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
        </div>

    </section>
    <!-- end s-contact -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title="Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div>
    <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>


</body>

</html>